<div class="row animated fadeIn" myMatchHeight="card">
    <div class="col-lg-7">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title"> Profile Information </h4>
                <h6 class="card-subtitle text-center">{{ user.name }}</h6>
                <form ngNativeValidate #f="ngForm" (ngSubmit)="save( f.value )" class="form p-t-20">
                    <div class="form-group">
                        <label for="exampleInputuname">Name of User</label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="ti-user"></i></div>
                            <input [ngModel]="user.name" name="name" type="text" class="form-control" placeholder="name of user" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="ti-email"></i></div>
                            <input [ngModel]="user.email" [disabled]="user.google" name="email" type="email" class="form-control" placeholder="Email of user">
                        </div>
                    </div>

                    <button type="submit" class="btn btn-success waves-effect waves-light m-r-10">
                    <i class="fa fa-save"></i>
                        Save
                    </button>
                </form>
            </div>
        </div>
    </div>

    <div class="col-lg-5">
        <div class="card">
            <div #userPicture class="card-body" align="center">
                <h4 class="card-title">My photo</h4>
                <h6 class="card-subtitle">{{ user.name }}</h6>

                <img *ngIf="imageTemp" [src]="imageTemp" alt="" class="  w150">
                <img *ngIf="!imageTemp" [src]="user.image | image" alt="" class="  w150">

                <input style="margin-top: 20px;" (change)="selectImage( $event.target.files[0])" type="file">

                <br>
                <br>

                <button (click)="changeImage()" [disabled]="!imageLoad" type="submit" class="btn btn-block btn-success waves-effect waves-light m-r-10">
                    <i class="fa fa-save"></i>
                        Update picture
                </button>
            </div>
        </div>
    </div>

</div>