<div class="dark-background animated fadeIn" [ngClass]="_modalUploadService.hided">

    <div style="display:  block;" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Modal title</h5>
                    <button (click)="closeModal()" type="button" class="close" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
                </div>
                <div class="modal-body text-center">
                    <img *ngIf="imageTemp" [src]="imageTemp" alt="" class="  w150">
                    <img *ngIf="!imageTemp" [src]="'xxxx' | image" alt="" class="  w150">

                    <input (change)="selectImage( $event.target.files[0])" type="file">
                </div>
                <div class="modal-footer">
                    <button (click)="closeModal()" type="button" class="btn btn-secondary">Close</button>
                    <button (click)="uploadImage()" [disabled]="!imageTemp" type="button" class="btn btn-primary">Upload image</button>
                </div>
            </div>
        </div>
    </div>

</div>